/* resources/css/styles.css */
body {
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

/* Estilos para as cores dos status */
.bg-verde {
    background-color: #28a745; /* Verde para mais de 1 ano */
    color: white;
}

.bg-amarelo {
    background-color: #ffc107; /* Amarelo para 3 meses restantes */
    color: black;
}

.bg-laranja {
    background-color: #fd7e14; /* Laranja para 6 meses restantes */
    color: white;
}

.bg-vermelho {
    background-color: #dc3545; /* Vermelho para vencido */
    color: white;
}

/* Estilos adicionais */
tbody tr:hover {
    background-color: #f1f1f1;
}


#processosPieChart{
    width: 400px;
    height: 200px;
}